In [1]:
### To Multiply 2 numbers 
1st assign data into string\
input a number

SyntaxError: invalid decimal literal (2217233449.py, line 2)

In [ ]:
a=2
b=10
c=a*b
c

In [ ]:
## or

In [2]:
num1=input('first number:')

first number:2

In [3]:
#back slash is given to come to next line
num2=input('\nSecond number:')

Second number:5

In [5]:
#string converting to float
Mul=float(num1)*float(num2)
Mul

10.0

In [6]:
#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the Multiplied value of {0} and {1} is {2}' .format(num1,num2,Mul))

the Multiplied value of 2 and 5 is 10.0